<section class="grid_12">
			<div class="block-border"><div class="block-content">
				<!-- We could put the menu inside a H1, but to get valid syntax we'll use a wrapper -->
				<div class="h1 with-menu">
					<h1>Ajuda</h1>					
				</div>
			
					<dl class="accordion">
					<dt><span class="number">1</span> Como fazer seu pedido </dt>
					<dd>
						<p>Ao acessar o sistema, logo podemos ver a tela que lista os produtos.</p>
						<p>Na aba superior onde estão listados as categorias, clique sobre alguma para ver os produtos da mesma.</p>
						<p>Clique em "Adicionar o Produto" para adiciona-lo em seu pedido.</p>
					</dd>
					
					<dt><span class="number">2</span> Listando os pedidos</dt>
					<dd>
						<p>Clique no menu "Meus Pedidos", são listados todos com seu devido status</p>
						<p>Se o status do seu pedido for do tipo "Início", então terá um botão para enviar o pedido para produção.</p>
						<p>Após o pedido ser realizado, terá um tempo de 10 minutos para cancela-lô.</p>
					</dd>
					
					<dt><span class="number">3</span> Editar meu cadastro</dt>
					<dd>
						<p>Clicando no menu "Meu Cadastro" visualizamos um formulário com os dados que podem ser atualizados.</p>
					</dd>
					
					<dt><span class="number">4</span> Visualizar itens do pedido</dt>
					<dd>
						<p>Na listagem de pedidos temos o botão "Detalhes", após clicado apresentará do lado direito os detalhes do pedido.</p>
					</dd>
					
					<dt><span class="number">5</span> Excluir itens do pedido aberto</dt>
					<dd>
						<p>Na listagem de produtos, no lado direito apresentará o pedido aberto. Passando o mouse sobre os itens do pedido temos a opção excluir.</p>
					</dd>
				</dl>
				
				<ul class="message no-margin">
					<li>Se sua dúvida não foi resolvida, ligue para nosso suporte técnico,<strong>(66) 9656-3337</strong>.</li>
				</ul>
				
			</div></div>
		</section>

